@import url(https://db.onlinewebfonts.com/c/34e23dd51b4e6f71165cb62eff021e01?family=Archivo+Expanded);

@font-face {
  font-family: "Archivo Expanded";
  src: url("https://db.onlinewebfonts.com/t/34e23dd51b4e6f71165cb62eff021e01.woff2")
    format("woff2");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Expanded", sans-serif;
  background-color: #f2f5f4;
  color: #242526;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.main-header {
  position: fixed;
  background-color: #f2f5f4;
  color: #242526;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  transition: top 0.4s ease-in-out; /* Smoother animation */
}

/* LOGO */

.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/*DESKTOP MAIN MENU */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 30px;
  padding-bottom: 2px;
}

/* MENU ITEM BOTTOM BORDER */

.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #c9d952;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
/* MAIN CONTENT */
main {
  margin-top: 150px;
}

.title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.title-info {
  font-size: 26px;
  text-align: center;
  margin-bottom: 60px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: stretch;
}

.form,
.map-column {
  flex: 1;
  max-width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-group,
.textarea-group {
  padding: 1% 0;
}

input,
textarea {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  padding: 1.5%;
  font-size: 20px;
}

input:focus,
textarea:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid #c9d952;
}

input::placeholder,
textarea::placeholder {
  color: transparent;
}

label {
  color: #757575;
  position: relative;
  left: 0.5em;
  top: -2em;
  cursor: auto;
  transition: 0.3s ease all;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -4em;
  color: #c9d952;
  font-size: 15px;
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  top: -11em;
  margin-bottom: 10px;
  font-size: 14px;
  color: #c9d952;
}

.button-div {
  display: flex;
  justify-content: center;
  color: #f2f5f4;
}

button {
  margin-top: 20px;
  padding: 2%;
  width: 50%;
  border: 1px solid #242526;
  color: #f2f5f4;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  background-color: black;
  color: inherit;
  box-shadow: 0 0 10px #242526;
}

button:hover {
  background-color: #c9d952;
  color: #242526;
  cursor: pointer;
}

.map-column iframe {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  border: none;
}

.site-footer {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f2f5f4;
  color: #242526;
  padding: 80px 40px 50px;
  font-size: 1.2em; /* Bigger base font size */
}

.footer-columns {
  display: flex;
  justify-content: space-between; /* Pushes columns far apart */
  gap: 750px; /* Optional extra spacing */
  max-width: 1440px;
  margin: 0 auto 50px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 330px;
  line-height: 2; /* Taller line height */
}

.policies {
  line-height: 1.5;
  padding-left: 72px;
}

.footer-col h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-col p,
.footer-col ul {
  margin: 0;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
  font-size: 1.1em;
}

.footer-col a {
  color: #242526;
  text-decoration: none;
}

.footer-col a:hover {
  text-decoration: underline;
}

/* Social icons section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 720px;
  max-width: 1440px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  flex-wrap: wrap;
}

.footer-social {
  text-align: left;
}

.footer-social a {
  color: #242526;
  font-size: 3em;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #c9d952;
}

.footer-copy {
  color: #242526;
  font-size: 1em;
  text-align: right;
  margin-top: 15px;
}

#zalo-footer {
  width: 12%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .form,
  .map-column {
    max-width: 95%;
    min-height: auto;
  }

  .title {
    font-size: 60px;
  }

  .title-info {
    font-size: 24px;
  }

  .social-icons {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 46px;
  }

  .title-info {
    font-size: 20px;
  }

  input,
  textarea {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  .social-icons {
    font-size: 30px;
    gap: 24px;
  }

  button {
    width: 100%;
  }
}
